h3 {
	font-style: italic;
	font-weight: bold;
}

h4 {
	font-style: italic;
	font-weight: normal;
}

a {
	text-decoration: overline;
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left-border {
	padding-left: 10px;
	border-left: 1px solid black;
}

.top-border {
	border-top: 1px solid black;
}

.top-border-dashed {
	border-top: 1px dashed black;
}


.about-body {
	margin-bottom: 400px;
	margin-top: 50px;
}


@media screen and (min-width: 800px) {

}
