li {
	font-family: pragmatica-extended, sans-serif;
}

a {
	font-family: antarctican-mono, sans-serif;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.left-border {
	padding-left: 10px;
	border-left: 1px solid black;
}

.top-border {
	border-top: 1px solid black;
}

.top-border-dashed {
	border-top: 1px dashed black;
}


.about-body {
	margin-bottom: 400px;
	margin-top: 50px;
}

#toggle-p {
	margin-right: 15px;
}

@media screen and (min-width: 800px) {

}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: linear-gradient(45deg, #F8333C 0%, #FCAB10 100%);
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
  background: linear-gradient(45deg, #38AECC 0%, #35A7FF 100%);
}

#cs-skills {
	display: none;
}
