h2 {
	font-size: 125%;
}

h2 a {
	color: blue;
	text-decoration: overline;
}

h2 a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h2 a:active {
	text-decoration: line-through;
}

.intro div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.intro div h2 {
	padding: 10px;
	margin-bottom: 0;
}
