@media screen and (min-width: 1000px) {
}

/*For Home*/

h2 a {
	display: block;
}

.footnote {
	text-align: right;
}

.gradient {
	display: block;
}

.gradient1:hover {
	background-image: linear-gradient(45deg, #F8333C 0%, #FCAB10 100%);
}

.gradient2:hover {
	background: linear-gradient(45deg, #38AECC 0%, #35A7FF 100%);
}


.gradient3:hover {
	background: linear-gradient(45deg, #FCAB10 0%, #FFE74C 100%);
}

.home-navs {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: black;
	text-decoration: none;
}

.home-links h2{
	display: inline-block;
}

.home {
	text-align: center;
}

.shape1 {
  background: linear-gradient(45deg, #81F499 0%, #6DD3CE 100%);
  animation: morph1 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 600px;
  transition: all 1s ease-in-out;
  width: 700px;
  overflow: none;
  z-index: -10;
  margin-top: 20px;
}

@keyframes morph1 {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

.intro-desc {
	font-size: 400%;
}


.iam h3{
	line-height: 30px;
	margin-top: 9px ;
	margin-bottom: 9px;
}

.iam h1{
	line-height: 30px;
	font-size: 200%;
	margin-top: 0 ;
	margin-bottom: 0;
	display: block;
	width: inherit;;
}

#name {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 300;
	font-style: normal;
}
/**/

@media screen and (min-width: 1800px) {
	.iam h3{
		line-height: 30px;
		margin-top: 30px ;
		margin-bottom: 30px;
	}

	.iam h1{
		line-height: 60px;
	}

	.shape1 {
		height: 1000px;
		width: 1000px;
	}
}
