@media screen and (min-width: 900px) {
	.container {
		margin-top: 150px;
		margin-bottom: 150px;
		width: 80%;
	}

	.container:hover {
		box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
	}

	.img-container img {
	    width: 50% !important;
	}
}

a {
	color: black;
	text-decoration: none;
}

.container {
	padding: 25px;
	margin-top: 50px;
	border: 1px solid black;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.4s;
	transition-timing-function: ease-in-out;
	margin: auto;
}

.container:hover {
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.4s;
	transition-timing-function: ease-in-out;
	color: white !important;
}

.container:hover a{
	transition: color 0.2s
}

.container p {
	line-height: 16px;
	font-size: 120%;
}

.container h3 {
	font-size: 150%;
}

.description {
	text-align: center;
}

.date {
	text-align: center;
	margin-top: 50px;
}

.img-container img {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info {
	line-height: 30px;
	text-align: center;
}

.h-link {
	color: blue;
}
.h-link:hover {
	text-decoration: underline;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.container-img {
	width: 150%;
}


#marqet:hover {
}
