
.center {
	text-align: left;
	line-height: 5px;
	font-size: 80%;
	padding-left: 25px;
}

.circlebox {
	display: flex;
	justify-content: center;
}
.circlebox div {
	border: 2px solid black;
	height: 10px;
	width: 10px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 50%;
}

.filled {
	background-color: black;
}

.project {
	text-align: center;
	margin-top: 100px;
}

.project img {
	width: 100%;
}

.project a {
		color: blue;
}

.project a:hover {
	text-decoration: underline;
}

.proj-info {
	display: flex;
	justify-content: center;
	margin-top: -25px;
	margin-bottom: 70px;
}

.subtitle {
	padding-bottom: 50px;
	margin-bottom: 0px;
}

.border-bottom {
	border-bottom: 1px solid black;
}

.border-top {
	border-top: 1px solid black;
}

.section p{
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

.p-center {
	text-align: center !important;
}

.img-l {
	width: 90% !important;
}

.img-m {
	width: 70% !important;
}

.h-left {
	text-align: left;
}

.needs {
	display: flex;
}

.needs h1 {
	margin-right: 20px;
}

.solution-info {
	text-align: left;
}

@media screen and (min-width: 1000px) {
	.my-info {
		display: flex;
		justify-content: center;
		text-align: left;
		margin-left: 100px;
	}

	.my-info h2 {
		margin-bottom: -20px;
	}

	.my-info .role-info{
		text-align: right;
		padding-right: 50px;
		border-right: 1px solid black;
	}

	.my-info .background-info {
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: 50px;
	}

	.center {
		font-size: 50%;
	}

	.project img {
		width: 50%;
	}

	.section p{
		text-align: left;
		padding-left: 150px;
		padding-right: 150px;
	}

	.problem-section {
		display: flex;
	}

	.needs-section {
		margin-left: 250px;
		margin-right: 250px;
	}

	.solution-sector {
		display: flex;
	}

	.solution-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 100px;
	}
}
