p {
	text-align: left;
}

.center {
	text-align: left;
	line-height: 5px;
	font-size: 80%;
	padding-left: 25px;
}

.circlebox {
	display: flex;
	justify-content: center;
}
.circlebox div {
	border: 2px solid black;
	height: 10px;
	width: 10px;
	margin: 25px;
	border-radius: 50%;
	box-shadow:
  inset 0 0 15px rgba(55, 84, 170,0),
  inset 0 0 20px rgba(255, 255, 255,0),
  7px 7px 15px rgba(55, 84, 170,.15),
  -7px -7px 20px rgba(255, 255, 255,1),
  inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.flowerbox {
	display: flex;
	justify-content: center;
}
.flowerbox div {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.flowerbox .div1 {
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
}
.flowerbox .div1 p {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	text-align: center;
}
.flowerbox .div2 {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.flowerbox .div2 p {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	text-align: center;
}
.flowerbox .div3 {
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
}
.flowerbox .div3 p {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	text-align: center;
}

.filled {
	background-color: black;
}

.project {
	text-align: center;
	margin-top: 100px;
}

.project img {
	width: 100%;
}

.project a {
		color: blue;
}

.project a:hover {
	text-decoration: underline;
}

.proj-info {
	display: flex;
	justify-content: center;
	margin-top: -25px;
	margin-bottom: 70px;
}

.spacer {
	margin-bottom: 100px;
}

.subtitle {
	padding-bottom: 50px;
	margin-bottom: 0px;
}

.border-bottom {
	border-bottom: 1px solid black;
}

.border-top {
	border-top: 1px solid black;
}

.section p{
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

.p-center {
	text-align: center !important;
}
.p-right {
	text-align: right !important;
}
.p-left {
	text-align: left !important;
}

.img-l {
	width: 90% !important;
}

.img-m {
	width: 50% !important;
}

.img-mm {
	width: 100% !important;
}

.img-s {
	width: 30% !important;
}

.h-left {
	text-align: left;
}

.needs {
	display: flex;
	align-items: baseline;
}

.needs h1 {
	margin-right: 20px;
}

.img-testing {
	display: flex;
	width: 70%;
	margin: auto;
	align-items: center;
}

.img-testing img{
	margin: 25px;
}

.subtle-shadow {
	box-shadow:
  inset 0 0 15px rgba(55, 84, 170,0),
  inset 0 0 20px rgba(255, 255, 255,0),
  7px 7px 15px rgba(55, 84, 170,.15),
  -7px -7px 20px rgba(255, 255, 255,1),
  inset 0px 0px 4px rgba(255, 255, 255,.2);
  border-radius: 2%;
}

.quote {
	font-style: italic;
}

.storyboard-h4 {
	text-align: left;
}

.solution-sector img {
	width: 100% !important;
}

.solution-info h4{
	text-align: left;
	margin-bottom: -15px;
}

.ideation-section {
	margin-top: 50px !important;
}

.ideation-section h4{
	margin-bottom: -10px;
}

.scenario-section {
	padding-bottom: 25px;
}

.persona-section {
	display: flex;
	flex-direction: row;
}

.persona-section-img {
	max-width: 20%;
	display: flex;
	flex-direction: row;
}
.my-info p{
	text-align: center;
}

.front-img {
	background-color: black;
}


@media screen and (min-width: 1000px) {
	iframe {
		width: 80%;
		height: 400px;
	}

	.my-info {
		display: flex;
		justify-content: center;
		margin-left: 100px;
	}

	.my-info h2 {
		margin-bottom: -15px;
	}

	.my-info p {
		text-align: right;
	}

	.my-info .role-info{
		text-align: right;
		padding-right: 50px;
		border-right: 1px solid black;
	}

	.role-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.my-info .background-info {
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: 50px;
	}

	.center {
		font-size: 70%;
	}

	.project img {
		width: 50%;
	}

	.section p{
		text-align: left;
		padding-left: 150px;
		padding-right: 150px;
	}

	.problem {
		margin-right: 50px;
	}

	.problem-section {
		display: flex;
		align-items: center;
	}

	.persona-section {
		display: flex;
		justify-content: space-between !important;
	}

	.horizontal-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.horizontal-section h4{
		padding-right: 50px;
	}

	.center-content {
		width: 40%;
		margin: auto;
	}

	.img-m {
		width: 50% !important;
	}


	.final-design-section img{
		width: 100%;
	}

	.spacer {
		margin-bottom: 200px;
	}
}
