@media screen and (min-width: 1000px) {
	.container {
		margin-top: 150px;
		margin-bottom: 150px;
	}

	.img-container img {
	    width: 50% !important;
	}
}

a {
	color: black;
	text-decoration: none;
}

.container {
	margin-top: 50px;
	padding: 50px;
	border: 1px solid black;
	transition: background-color 0.2s, color 0.2s;
	transition-timing-function: ease-in-out;
}

.container:hover {
	cursor: pointer;
	color: white;
	background-color: black;
	transition: background-color 0.2s, color 0.2s;
	transition-timing-function: ease-in-out;
}

.container p {
	line-height: 16px;
	font-size: 120%;
}

.container h3 {
	font-size: 150%;
}

.description {
	text-align: center;
}

.date {
	text-align: center;
	margin-top: 50px;
}

.img-container img {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info {
	line-height: 30px;
	text-align: center;
}

.h-link {
	color: blue;
}
.h-link:hover {
	text-decoration: underline;
}

.horizontal {
	display: flex;
	flex-direction: row;
}
