@media screen and (min-width: 900px) {
	.container {
		margin-top: 150px;
		margin-bottom: 150px;
	}

	.container:hover {
		width: 45%;
		box-shadow:
	  inset 0 0 15px rgba(55, 84, 170,0),
	  inset 0 0 20px rgba(255, 255, 255,0),
	  7px 7px 15px rgba(55, 84, 170,.15),
	  -7px -7px 20px rgba(255, 255, 255,1),
	  inset 0px 0px 4px rgba(255, 255, 255,.2);
	  border-radius: 2%;
	}

	.img-container img {
	    width: 50% !important;
	}
}

a {
	color: black;
	text-decoration: none;
}

.container {
	padding: 25px;
	border-radius: 10px !important;
	margin-top: 50px;
	border: 1px solid #EFEFEF;
	transition: background-color 0.2s, color 0.2s, width 0.4s, box-shadow 0.4s;
	transition-timing-function: ease-in-out;
	margin: auto;
}

.container:hover {
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, width 0.4s, box-shadow 0.4s;
	transition-timing-function: ease-in-out;
}

.container p {
	line-height: 16px;
	font-size: 120%;
}

.container h3 {
	font-size: 150%;
}

.description {
	text-align: center;
}

.date {
	text-align: center;
	margin-top: 50px;
}

.img-container img {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.info {
	line-height: 30px;
	text-align: center;
}

.h-link {
	color: blue;
}
.h-link:hover {
	text-decoration: underline;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.container-img {
	width: 150%;
}
