@import url("https://use.typekit.net/hvq3uny.css");

body {
	margin-left: 5%;
	margin-right: 5%;
}

.mobile-container {
  max-width: 2000px;
  margin: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
}

h3 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 300;
	font-size: 200%;
}

h4 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
}


p {
	font-family: antarctican-mono, sans-serif;
	font-weight: 500;
	font-style: normal;
}

/**For Main.js**/

#nav-header {
	display: flex;
	justify-content: space-between;
	font-size: 80%;
}

h2 a {
	font-family: antarctican-mono, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	color: black;
}

h2 a:hover {
	text-decoration: underline;
}

h2 a:active {
	text-decoration: underline;
}
/**/


@media screen and (min-width: 1000px) {

	.home {
		text-align: left;
		display: flex;
		justify-content: space-between;
	}

	#name {
		font-size: 400%;
	}

	#nav-header {
		justify-content: flex-end;
	}

	#nav-header a {
		margin-left: 100px;
	}

	.shape1 {
		position: auto;
	}
}

.blank-space {
	margin-bottom: 500px;
}

@keyframes fadeIn
  to {
     opacity: 1; }

 @keyframes fadeIn{
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }


 .fade-in {
   animation: fadeIn 1.0s ease forwards;
 }
