@import url("https://use.typekit.net/hvq3uny.css");

:root {
	color: black;
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

pre {
	background-color: black;
	color: orange;
}

.mobile-container {
  max-width: 2000px;
  margin: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
}

h3 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 300;
	font-size: 200%;
}

h4 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h5 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 100%;
}



p {
	font-family: pragmatica,sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 25px;
}

/**For Main.js**/

#nav-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 60%;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, .90);
 	backdrop-filter: blur(35px);
	z-index: 100;
}

h2 a {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color: black;
}

h2 a:hover {
	text-decoration: underline;
}

h2 a:active {
	text-decoration: underline;
}
/**/


@media screen and (min-width: 1000px) {

	#name {
		font-size: 400%;
	}

	#nav-header {
		font-size: 80%;
		padding-left: 25%;
		padding-right: 25%;
	}

	.shape1 {
		position: auto;
	}

	.margin-right {
		margin-right: 50px;
	}

	.return {
		width: 25%;
	}
}

.blank-space {
	margin-bottom: 500px;
}

@keyframes fadeIn
  to {
     opacity: 1; }

 @keyframes fadeIn{
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }


 .fade-in {
   animation: fadeIn 1.0s ease forwards;
 }

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.bottom-border-white {
	border-bottom: 1px solid white;
}

.border-padding {
	padding: 50px;
	border-radius: 25px;
}

.striked {
	text-decoration: line-through;
}

.return {
	color: blue;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.return:hover {
	cursor: pointer;
}

.borders {
	border: 1px solid black;
}

.border-right {
	border-right: 1px solid black;
	padding-right: 10px;
}

.border-left {
	border-left: 1px solid black;
	padding-left: 10px;
}

.inner-frame {
	border-radius: 0px;
	background: #ffffff;
	box-shadow: inset 20px 20px 60px #d4d4d4,
	            inset -20px -20px 60px #ffffff;
}

.spacer-top {
	margin-top: 100px;
}

.shadow {
	box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.horizontal {
	display: flex;
	justify-content: center;
}

.horizontal div {
	margin-left: 10px;
	margin-right: 10px;
}

.horizontal h3 {
	font-size: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.click-proj {
	width: 100px;
	height: 50%;
	padding: 5px;
	border: 1px solid black;
	top: 20px;
}
.click-proj:hover {
	border: 1px solid blue;
	cursor: pointer;
	background-color: blue;
	color: white;
}
.click-proj:active {
	background-color: white;
	color: blue;
}

.proj-nav {
	position: sticky;
	top:50px;
}

.horizontal-footer {
	display: flex;
	justify-content: space-around;
}

.active-page {
	background-color: blue;
	border-color: blue;
	color: white !important;
}

.spacer-small {
	margin-bottom: 100px;
}
