@import url("https://use.typekit.net/hvq3uny.css");

body {
	margin-left: 5%;
	margin-right: 5%;
}

pre {
	background-color: black;
	color: orange;
}
.mobile-container {
  max-width: 2000px;
  margin: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 500;
	font-style: normal;
}

h3 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 300;
	font-size: 200%;
}

h4 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h5 {
	font-family: pragmatica-extended, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 100%;
}



p {
	font-family: antarctican-mono, sans-serif;
	font-weight: 500;
	font-style: normal;
}

/**For Main.js**/

#nav-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 60%;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-around;
	height: 6%;
	background-color: rgba(255, 255, 255, .90);
 	backdrop-filter: blur(35px);
	z-index: 100;
}

h2 a {
	font-family: antarctican-mono, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color: black;
}

h2 a:hover {
	text-decoration: underline;
}

h2 a:active {
	text-decoration: underline;
}
/**/


@media screen and (min-width: 1000px) {

	#name {
		font-size: 400%;
	}

	#nav-header {
		font-size: 80%;
	}

	#nav-header a {
		margin-left: 100px;
	}

	.shape1 {
		position: auto;
	}

	.margin-right {
		margin-right: 50px;
	}

	.return {
		width: 25%;
	}
}

.blank-space {
	margin-bottom: 500px;
}

@keyframes fadeIn
  to {
     opacity: 1; }

 @keyframes fadeIn{
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }


 .fade-in {
   animation: fadeIn 1.0s ease forwards;
 }

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.bottom-border-white {
	border-bottom: 1px solid white;
}

.border-padding {
	padding: 50px;
	border-radius: 25px;
}

.striked {
	text-decoration: line-through;
}

.return {
	color: blue;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.return:hover {
	cursor: pointer;
}

.border-right {
	border-right: 1px solid black;
	padding-right: 10px;
}

.border-left {
	border-left: 1px solid black;
	padding-left: 10px;
}

.inner-frame {
	border-radius: 0px;
	background: #ffffff;
	box-shadow: inset 20px 20px 60px #d4d4d4,
	            inset -20px -20px 60px #ffffff;
}
