@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

h1 {
	font-weight: lighter;
    font-family: 'Karla', sans-serif;
}

h2 {
	font-weight: lighter;
    font-family: 'Karla', sans-serif;
}

h3 {
    font-family: 'Karla', sans-serif;
}

h4 {
    font-family: 'Karla', sans-serif;
}

li {
    font-family: 'Karla', sans-serif;
}

img {
	width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
    text-decoration: line-through;
}

a:visited {
    color: blue;
}

p {
    font-family: 'Inconsolata', monospace;
}

body {
    margin-bottom: 15%;
}

.gradient1 {
	border-bottom: 2px solid #38AECC;
}

.gradient1:hover {
	background-color: #38AECC;
}

.gradient2 {
	border-bottom: 2px solid #F8333C;
}

.gradient2:hover {
	background-color: #F8333C;
}

.gradient3 {
	border-bottom: 2px solid #FCAB10;
}

.gradient3:hover {
	background-color: #FCAB10;
}

.shape1 {
  background: linear-gradient(45deg, #81F499 0%, #6DD3CE 100%);
  animation: morph1 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 500px;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: 5;
  overflow: none;
  display: none;
}

.shape2 {
  animation: morph2 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  text-align: center;
}

.shape3 {
  animation: morph3 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  z-index: 5;
  text-align: center;
}

@keyframes morph1 {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius:  100% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

@keyframes morph2 {
  0% {
	  	border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	50% {
		border-radius:  100% 40% 30% 70% / 60% 30% 70% 40%;
	}

	100% {
	  	border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}

@keyframes morph3 {
  0% {
			border-radius:  10% 50% 20% 90% / 40% 60% 30% 20%;
	}

	50% {
			border-radius:  50% 10% 70% 50% / 50% 10% 50% 80%;
	}

	100% {
			border-radius:  10% 50% 20% 90% / 40% 60% 30% 20%;
	}
}

.mobile-container {
  max-width: 1000px;
  margin: auto;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-size: 110%;
}

.topnav a.icon {
  position: absolute;
  left: 0;
  top: 0;
}

.topnav a.icon:hover {
	background: black;
	color: white;
}

.topnav a:active {
  text-decoration: line-through;
}

.header-content {
	display: flex;
	justify-content: space-between;
	height: 60px;
}

#myLinks {
  display: none;
}

#myLinks a:hover {
  color: white;
  background: black;
}

#name {
	font-weight: lighter;
    width: 50px;
    display: inline-block;
    border: 1px solid transparent;
}

#name:hover {
	font-style: italic;
	border: 1px solid black;
}

#name:active {
	background-color: black;
	color: white;
}

.nav-hamburger {
  padding: 10px 12px;
  padding-bottom: 0;
}

.nav-hamburger div{
	width: 35px;
    height: 2px;
    background-color: black;
    margin: 6px;
	transition: width 0.2s;
}

.nav-hamburger:hover div {
	transition: width 0.2s;
}

.nav-hamburger:active div {
	width: 50px;
	transition: width 0.2s;
}

#root {
  padding: 14px 16px;
}

.nav-header {
	visibility: hidden;
}

@media screen and (min-width: 800px) {

    body {
        font-size: 120%;
    }


    #name {
        width: inherit;
    }

    #name:hover {
    	transform: rotate(180deg);
    }

	#myLinks {
		display: none;
	}

	#nav-header {
		display: flex;
        flex-direction: row;

	}

	#root {
	  margin-top: 0px;
	}

	.home {
		display: flex;
	}

	.shape1 {
		display: block;
	}

    .topnav a:hover {
        background-color: black;
        color: white;
    }

    .content {
        padding-top: 50px;
    }

	.nav-hamburger {
		padding-bottom: 10px;
	}

	.header-content {
		display: flex;
		justify-content: space-between;
		height: 50px;
	}

	.nav-header {
		visibility: visible;
		border: 1px solid rgba(255,255,255,0);
	}

	.nav-header:hover {
		font-style: italic;
		border: 1px solid black;
	}

	.nav-header:active {
		background-color: black;
		color: white;
	}

	.nav-hamburger {
		display:none;
	}

	.btn {
	  cursor: pointer;
	  padding: 5px;
	  -webkit-tap-highlight-color: transparent;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  z-index: 0;
	  transition: 1s;
	}

	.btn::before, .btn::after {
	  position: absolute;
	  background: #ffffff;
	  z-index: -1;
	  transition: 1s;
	  content: '';
	}

	.btn::before {
	  height: 100px;
	  width: 200px;
	}

	.btn::after {
	  width: 150px;
	  height: 30px;
	}

	.noselect {
	  -webkit-touch-callout: none;
	    -webkit-user-select: none;
	     -khtml-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none;
	}

	.btn:hover::before {
	  width: 0px;
	  background: #fff;
	}

	.btn:hover::after {
	  height: 0px;
	  background: #fff;
	}

	.btn:hover {
	  background: #fff;
	}
}



.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
