@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

h1 {
	font-weight: lighter;
    font-family: 'Karla', sans-serif;
}

h2 {
	font-weight: lighter;
    font-family: 'Karla', sans-serif;
}

h3 {
    font-family: 'Karla', sans-serif;
}

h4 {
    font-family: 'Karla', sans-serif;
}

li {
    font-family: 'Karla', sans-serif;
}

img {
	width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

.mobile-container {
  max-width: 1000px;
  margin: auto;
}


.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-content a {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

.shape1 {
  background: linear-gradient(45deg, #81F499 0%, #6DD3CE 100%);
  animation: morph1 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 500px;
  transition: all 1s ease-in-out;
  width: 500px;
  z-index: 5;
  overflow: none;
  display: none;
}

@keyframes morph1 {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius:  100% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

#nav-header {
	display: flex;
}
